[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = {extras = ["srv"],version = "*"}
api = "*"
resource = "*"
flask-restful = "*"
cors = "*"
flask-cors = "*"
argparse = "*"
flask-mongokit = "*"
apscheduler = "*"
snscrape = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
numpy = "*"
scipy = "*"
flask_pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
